/*
  white: #FFFFFF
*/
/* Accent 1: #005F99
   Accent 2: #F5A623 */

h1 {
  color: #005F99;
  text-align: center;
}

th, td {
  border: #F5A623 solid 2px;
  padding: 8px;
}

table {
  border-collapse: collapse;
}

a {
  color: #005F99;
  font-weight: bold;
  text-decoration: none;

}

a:hover {
  color: #F5A623;
}

p.box-model {
   background-color: #005F99;   
  color: white;                
  width: 450px;                
  padding: 20px;               
  border: 4px dashed #F5A623;  
  margin: 25px;                
  border-radius: 10px;       
}

div {
  background-color: #005F99;
  width: 646;
  padding: 12px 12px 12px 12px;
  border: ridge 3px #F5A623;
}

body {

  padding: 100px;
}

